<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- MVVM -->
    <!-- v-____ 디렉티브(Directive)
        vue의 elemenent에 지시를 하는 문법
        값에 해당하는 부분(="_____") 자바스크립트 문법을 사용할 수 있다.
    -->
    <div id="app">
        <!-- v-on : 이벤트 리스너를 등록
            축약형 : @____
        -->
        <button v-on:click="plus">v-on:click</button>
        <button @click="plus">@click</button>
        {{ message }} - {{ count }}

        <!-- v-text는 해당하는 값을 그대로 출력함 -->
        <span v-text="htmlMessage"></span>

        <!-- v-html은 해당하는 값에 태그가 있으면 html로 출력함 -->
        <span v-html="htmlMessage"></span>

        <!-- v-if는 랜더링을 할지 말지 결정함.
        html태그 자체를 보여줄지 말지
        -->

        <!-- v-once : 랜더링 되었을 때의 값. 
            이후에 data 값이 바뀌더라도 바뀌지 않음  -->
        <h1 v-once v-text="count"></h1>
        <span v-if="count > 5">5보다 큼!</span>
        <h1 v-else-if=" count === 5">5!!!!!!!!!!!!</h1>
        <span v-else>5보다 작음!</span>

        <!-- v-show는 랜더링을 무조건 하고, css로 화면에 보여줄지 말지를 결정함 -->
        <h1 v-show="isTrue">!!</h1>

        <!-- v-for는 반복이 가능하다. -->
        <li v-for="hero in myArray">
            {{ hero }}
        </li>

        <!-- v-bind html 속성의 값을 data에 있는 값으로 설정하고 싶을 때
            생략이 가능하다.
        -->
        <a v-bind:href="urlLink">구글</a>
        <a :href="urlLink">구글</a> 
        <input v-model="blahblah"> <br>
        {{ blahblah }} <br>
        {{ reverseBlahblah }} <br>
        <select v-model="lunch">
            <option value="특식">특식</option>
            <option value="한식">한식</option>
            <option value="가운데">가운데</option>
        </select>
        <h1>{{ lunch }}</h1>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // app.$el
        // app.$data.message === app.message
        const app = new Vue ({
            // element : 실제 Vue와 연결 할 element
            el: '#app',
            // app (vue 인스턴스)의 속성을 가지게 된다.
            data: {
                lunch: '뭐먹지',
                blahblah: '',
                message: 'Hello, Vue!', 
                htmlMessage: '<p>안녕</p>', 
                count: 0,
                isTrue: false,
                myArray: [
                    '캡틴아메리카',
                    '헐크',
                    '아이언맨'
                ],
                urlLink: 'https://google.com'
            },
            methods: {
                plus: function() {
                    this.count ++
                },
                // 콘솔에서 확인 app.today()
                today: function() {
                    return new Date()
                }
            },
            // computed : 캐싱! 
            computed: {
                reverseBlahblah: function() {
                    return this.blahblah.split('').reverse().join('') 
                },
                // 콘솔에서 확인 app.computedToday
                computedToday: function() {
                    return new Date()
                }
            }
        })
    </script>
</body>
</html>