<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .completed {
            text-decoration: line-through;
            color: rosybrown;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script>
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        const config = {
            apiKey: "AIzaSyD3g5YCuZMYQymVqyDcmrNYvnBnqm9tX68",
            databaseURL: "https://vue-project-yoon.firebaseio.com/",
            projectId: "vue-project-yoon",
        };
        firebase.initializeApp(config);
        const db = firebase.database()
    </script>
</head>
<body>
    <div id="app">
        <!-- v-model : data의 newTodo 값이 사용자가 입력하는 값으로 변경됨.-->
        <input type="text" v-model="newTodo" v-on:keyup.enter="addNewTodo"><br>
        {{ newTodo }}
        <button @click="allComplete">[전부 완료]</button>
        <select v-model="status">
            <option value="all">모두보기</option>
            <option value="completed">완료</option>
            <option value="active">할 일</option>
        </select>

        <ul>
            <!-- v-for가 우선, v-if가 나중 | 그래야 for에서 하나씩 나오며 if를 해주기 때문이다. -->
            <!-- <li v-for="todo in todoList" v-if="!todo.completed"> -->
            <li v-for="todo in todoListByStatus()" v-bind:key="todo.id">
                <input type="checkbox" v-model="todo.completed" @change="updateTodo(todo)">
                <span :class="{completed: todo.completed}">{{ todo.content }}</span>
                <button @click="deleteTodo(todo)">삭제</button>
                <!-- <button v-on:click='complete(todo)'>[완료]</button> -->
            </li>
            <!-- <li v-else> -->
                <!-- <input type="checkbox" v-model="todo.completed"> -->
                <!-- <del>{{ todo.content }}</del>> -->
            <!-- </li> -->
        </ul>
    </div>
    <script>
    //    const STORAGE_KEY = 'vue-todo-list'
    //    const todoStorage = {
        //    fetch: function() {
        //        const todoList = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
        //        todoList.forEach( function(todo, index) {
        //            todo.id = index
        //        })
        //        return todoList
        //    },
        //    save: function(todoList) {
        //        localStorage.setItem(STORAGE_KEY, JSON.stringify(todoList))
        //    }
        //}
        const app = new Vue({
            el: '#app',
            data: {
                newTodo: '',
                status: 'all',
                //todoList: todoStorage.fetch()
            },
            firebase: {
                todoList: db.ref('todoList')
            },

            methods: {
                complete: function(todo) {
                    todo.completed = !todo.completed // true -> false , false -> true 로
                },
                addNewTodo: function() {
                    // this : Vue 오브젝트(app)
                    // this.todoList : data의 todoList
                    if (this.newTodo) {
                        this.$firebaseRefs.todoList.push({
                            // this.newTodo : data의 newTodo (사용자가 입력을 한 값)
                            id: new Date(),
                            content: this.newTodo,
                            completed: false
                        })
                        this.newTodo = ""
                    }
                },
                deleteTodo: function(todo){
                    this.$firebaseRefs.todoList.child(todo['.key']).remove()
                },
                updateTodo: function(todo){
                    const copy = {...todo}
                    delete copy['.key']
                    this.$firebaseRefs.todoList.child(todo['.key']).set(copy)
                },

                allComplete: function(){
                    // this.todoList.forEach(todo => {  // 이렇게 arrow로 해서 check함수로
                    //    if (!todo.completed) {        // 확인할 수 있으나 아직은 이해만하는걸로
                    //        this.check(todo)
                    //    }
                    //})
                    this.todoList.forEach(function(todo){
                        todo.completed = true
                })
                },
                todoListByStatus: function() {
                    // 각각을 확인하면서 status completed라면,
                    // completed가 true만 리턴
                    if (this.status === 'completed') {
                        return this.todoList.filter((todo) => todo.completed)
                    } else if (this.status === 'active') {
                        // s각각을 확인하면서 status가 active라면,
                        // completed가 false인 것만 리턴
                        return this.todoList.filter((todo) => !todo.completed)
                    } else {
                        // all이면
                        // 그대로 리턴
                        return this.todoList
                    }
                        
                }
            } 
            , watch: {
                todoList: {
                    handler: function() {
                    // 로컬 스토리지에 저장하겠습니다. 
                        todoStorage.save(this.todoList)
                    },
                    deep: true 
                    // deep true가 없다면, 단순히 해당하는 오브젝트([])에 값이 추가되거나 삭제 되는 경우만 watch
                    // deep true 옵션을 통해 오브젝트([]) 안에 있는 오브젝트(nested object)의 변경 사항까지 watch
                }
            }    
        })
    </script>
</body>
</html>