<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.css" />
    <script>
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        const config = {
            apiKey: "AIzaSyD3g5YCuZMYQymVqyDcmrNYvnBnqm9tX68",
            databaseURL: "https://vue-project-yoon.firebaseio.com/",
            projectId: "vue-project-yoon",
        };
        firebase.initializeApp(config);
        const db = firebase.database()
        const auth = firebase.auth()
        const ui = new firebaseui.auth.AuthUI(auth)
        // ui.start('#firbaseui-auth-container')
</script>
<style>
    .chat-container{
        margin: auto;
        width: 650px;
        background-color: lightblue;
    }

    .chat {
        width: 161px;
        height: 70px;
        border: 1px solid seashell;
        background-color: darkorange;
        color: white;
        border-radius: 5px;
    }
    #le {
        padding: 10px;
    }
    .my-chat {
        margin-left: auto;
        background-color: darkblue;
    }

</style>
</head>
<body>
    <div id="app">
        <div v-if="currentUser.uid" class="chat-container">
            <button @click='logout'>로그아웃</button>
            <ul id="le">
                <div v-for="message in messages" 
                    :class="{'chat': true, 'my-chat': currentUser.username === message.username}">
                    <b>{{ message.username }}</b> : {{ message.content }}
                </div>
            </ul>
            <input type="text" v-model="newMessage" v-on:keyup.enter="createMessage"><br>
            {{ newMessage }}
        </div>
        <div v-else>
            <div id="firebaseui-auth-container"></div>
        </div>
    </div>
    <script>
    const app = new Vue({
        el: '#app',
        data: {
            newMessage: '',
            //messages: [
            //    {'username': 'sungmin', 'content': '배부르다.'},
            //    {'username': '심심이', 'content': '졸리다.'}
            //    ],
            currentUser: {
                uid: '',
                email: '',
                username: ''
            }
        },
        firebase: {
            messages: db.ref('messages')
        },
        // 실제로 실행됨(mount가 됨)과 동시에 실행되는 함수.
        mounted: function() {
            auth.onAuthStateChanged((user) => {
                if (user) {
                    this.currentUser.uid = user.uid
                    this.currentUser.email = user.email
                    this.currentUser.username = user.displayName
                }
                this.initUI()
            })
        },

        methods: {
            createMessage: function() {
                if (this.newMessage)
                    this.$firebaseRefs.messages.push({
                        username: this.currentUser.username,
                        content: this.newMessage
                    })
                    this.newMessage = ''
            },
            initUI: function() {
                ui.start('#firebaseui-auth-container', {
                    signInoptions: [
                        firebase.auth.EmailAuthProvider.PROVIDER_ID
                    ],
                    callbacks: { // callback 은 arrow function !
                        signInSuccessWithAuthResult: (authResult, redirectUrl) => {
                            this.currentUser.uid = authResult.user.uid
                            this.currentUser.email = authResult.user.email
                            this.currentUser.username = authResult.user.displayName
                            return false
                        }
                    }
                })
            },
            logout: function() {
                this.currentUser = {
                    uid: '',
                    email: '',
                    displayName: ''
                }
                auth.signOut()
            }
        }
    })
    </script>
</body>
</html>